In [2]:
import pandas as pd
import numpy as np
from sklearn import datasets

In [3]:
iris=datasets.load_iris()

In [12]:
Y=pd.DataFrame(iris.target,columns=["target"])

In [13]:
Y.head()

   target
0       0
1       0
2       0
3       0
4       0

In [7]:
columns=iris.feature_names

In [8]:
X=pd.DataFrame(iris.data,columns=columns)

In [9]:
X.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [10]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [11]:
X_train,X_test,y_train,y_test=train_test_split(X.values,Y.values,test_size=0.7)

In [12]:
model=LinearRegression()

In [13]:
model.fit(X_train,y_train)

LinearRegression()

In [14]:
model.predict(X_test)[4]

array([-0.15338174])

In [15]:
model.score(X_test,y_test)

0.9170297898093225

In [16]:
model

LinearRegression()

In [17]:
def predict(sl,sw,pl,pw):
    arr=np.zeros(4)
    arr[0]=sl
    arr[1]=sw
    arr[2]=pl
    arr[3]=pw
    out=model.predict([arr])
    st=""
    if out<=1:
        st=iris.target_names[0]
    elif out<2:
        st=iris.target_names[1]
    else:
        st=iris.target_names[2]
    return st

In [18]:
predict(6.2, 3.4, 5.4, 2.3)

'versicolor'

In [19]:
import pickle
with open("iris.pickle",'wb') as f:
    pickle.dump(model,f)

In [20]:
import json
cols={
    'data_columns' :[c for c in iris.feature_names]
}
with open ("columns.json","w") as f:
    f.write(json.dumps(cols))

In [21]:
tar={
    "target_names":[c for c in iris.target_names]
}
with open("target.josn",'w') as f:
    f.write(json.dumps(tar))